
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M11.43 155.35L76.38 192.85L76.38 267.85L11.43 305.35L-53.52 267.85L-53.52 192.85zM76.38 267.85L141.34 305.35L141.34 380.35L76.38 417.85L11.43 380.35L11.43 305.35zM141.34 155.35L206.29 192.85L206.29 267.85L141.34 305.35L76.38 267.85L76.38 192.85zM206.29 267.85L271.25 305.35L271.25 380.35L206.29 417.85L141.34 380.35L141.34 305.35zM141.34 380.35L206.29 417.85L206.29 492.85L141.34 530.35L76.38 492.85L76.38 417.85zM271.25 155.35L336.2 192.85L336.2 267.85L271.25 305.35L206.29 267.85L206.29 192.85zM336.2 267.85L401.15 305.35L401.15 380.35L336.2 417.85L271.25 380.35L271.25 305.35zM336.2 492.85L401.15 530.35L401.15 605.35L336.2 642.85L271.25 605.35L271.25 530.35zM401.15 380.35L466.11 417.85L466.11 492.85L401.15 530.35L336.2 492.85L336.2 417.85zM466.11 492.85L531.06 530.35L531.06 605.35L466.11 642.85L401.15 605.35L401.15 530.35zM531.06 155.35L596.01 192.85L596.01 267.85L531.06 305.35L466.11 267.85L466.11 192.85zM660.97 -69.65L725.92 -32.15L725.92 42.85L660.97 80.35L596.01 42.85L596.01 -32.15zM725.92 42.85L790.88 80.35L790.88 155.35L725.92 192.85L660.97 155.35L660.97 80.35zM660.97 155.35L725.92 192.85L725.92 267.85L660.97 305.35L596.01 267.85L596.01 192.85zM660.97 380.35L725.92 417.85L725.92 492.85L660.97 530.35L596.01 492.85L596.01 417.85zM725.92 492.85L790.88 530.35L790.88 605.35L725.92 642.85L660.97 605.35L660.97 530.35zM790.87 155.35L855.83 192.85L855.83 267.85L790.87 305.35L725.92 267.85L725.92 192.85zM855.83 267.85L920.78 305.35L920.78 380.35L855.83 417.85L790.87 380.35L790.87 305.35zM985.74 267.85L1050.69 305.35L1050.69 380.35L985.74 417.85L920.78 380.35L920.78 305.35zM985.74 492.85L1050.69 530.35L1050.69 605.35L985.74 642.85L920.78 605.35L920.78 530.35zM1050.69 155.35L1115.64 192.85L1115.64 267.85L1050.69 305.35L985.74 267.85L985.74 192.85zM1245.55 42.85L1310.5 80.35L1310.5 155.35L1245.55 192.85L1180.6 155.35L1180.6 80.35zM1180.6 155.35L1245.55 192.85L1245.55 267.85L1180.6 305.35L1115.64 267.85L1115.64 192.85zM1245.55 492.85L1310.5 530.35L1310.5 605.35L1245.55 642.85L1180.6 605.35L1180.6 530.35zM1310.51 155.35L1375.46 192.85L1375.46 267.85L1310.51 305.35L1245.55 267.85L1245.55 192.85zM1375.46 492.85L1440.41 530.35L1440.41 605.35L1375.46 642.85L1310.51 605.35L1310.51 530.35zM1440.41 380.35L1505.37 417.85L1505.37 492.85L1440.41 530.35L1375.46 492.85L1375.46 417.85zM1505.37 492.85L1570.32 530.35L1570.32 605.35L1505.37 642.85L1440.41 605.35L1440.41 530.35z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M3.93 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.88 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.88 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM3.93 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-61.02 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-61.02 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.84 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.84 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.88 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM3.93 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.84 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.79 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.79 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.75 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.75 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.79 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.79 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.84 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.88 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.75 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.7 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.7 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.65 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.65 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.7 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.7 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.65 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.65 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.7 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.75 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.75 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.61 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.61 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.56 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.56 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.61 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.56 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.56 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.61 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.61 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 -69.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 -32.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 42.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 80.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 42.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 -32.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.38 80.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.38 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.51 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.38 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.38 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.42 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.47 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.37 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.33 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.33 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.37 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.28 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.28 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.33 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.37 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM978.24 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1043.19 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1043.19 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM978.24 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM978.24 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1043.19 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1043.19 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM978.24 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.28 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.28 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1043.19 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1108.14 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1108.14 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM978.24 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.05 42.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303 80.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.05 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1173.1 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1173.1 80.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.05 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1173.1 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.05 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.05 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1173.1 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1173.1 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.01 155.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.96 192.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.96 267.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.01 305.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.96 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.91 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.91 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.96 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.01 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.01 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.91 380.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1497.87 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1497.87 492.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.96 417.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1562.82 530.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1562.82 605.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1497.87 642.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M81.68 61.93L124.99 86.93L124.99 136.93L81.68 161.93L38.38 136.93L38.38 86.93zM38.38 436.93L81.68 461.93L81.68 511.93L38.38 536.93L-4.92 511.93L-4.92 461.93zM168.29 61.93L211.59 86.93L211.59 136.93L168.29 161.93L124.99 136.93L124.99 86.93zM124.99 436.93L168.29 461.93L168.29 511.93L124.99 536.93L81.68 511.93L81.68 461.93zM211.59 -13.07L254.89 11.93L254.89 61.93L211.59 86.93L168.29 61.93L168.29 11.93zM254.89 61.93L298.19 86.93L298.19 136.93L254.89 161.93L211.59 136.93L211.59 86.93zM341.5 61.93L384.8 86.93L384.8 136.93L341.5 161.93L298.19 136.93L298.19 86.93zM341.5 211.93L384.8 236.93L384.8 286.93L341.5 311.93L298.19 286.93L298.19 236.93zM298.19 286.93L341.5 311.93L341.5 361.93L298.19 386.93L254.89 361.93L254.89 311.93zM471.41 136.93L514.71 161.93L514.71 211.93L471.41 236.93L428.1 211.93L428.1 161.93zM514.71 211.93L558.01 236.93L558.01 286.93L514.71 311.93L471.41 286.93L471.41 236.93zM471.41 436.93L514.71 461.93L514.71 511.93L471.41 536.93L428.1 511.93L428.1 461.93zM601.31 211.93L644.62 236.93L644.62 286.93L601.31 311.93L558.01 286.93L558.01 236.93zM644.62 286.93L687.92 311.93L687.92 361.93L644.62 386.93L601.31 361.93L601.31 311.93zM687.92 361.93L731.22 386.93L731.22 436.93L687.92 461.93L644.62 436.93L644.62 386.93zM687.92 511.93L731.22 536.93L731.22 586.93L687.92 611.93L644.62 586.93L644.62 536.93zM731.22 136.93L774.52 161.93L774.52 211.93L731.22 236.93L687.92 211.93L687.92 161.93zM731.22 286.93L774.52 311.93L774.52 361.93L731.22 386.93L687.92 361.93L687.92 311.93zM774.52 361.93L817.83 386.93L817.83 436.93L774.52 461.93L731.22 436.93L731.22 386.93zM861.13 61.93L904.43 86.93L904.43 136.93L861.13 161.93L817.83 136.93L817.83 86.93zM861.13 361.93L904.43 386.93L904.43 436.93L861.13 461.93L817.83 436.93L817.83 386.93zM904.43 -13.07L947.73 11.93L947.73 61.93L904.43 86.93L861.13 61.93L861.13 11.93zM904.43 286.93L947.73 311.93L947.73 361.93L904.43 386.93L861.13 361.93L861.13 311.93zM991.04 -13.07L1034.34 11.93L1034.34 61.93L991.04 86.93L947.73 61.93L947.73 11.93zM1077.64 -13.07L1120.94 11.93L1120.94 61.93L1077.64 86.93L1034.34 61.93L1034.34 11.93zM1120.94 211.93L1164.25 236.93L1164.25 286.93L1120.94 311.93L1077.64 286.93L1077.64 236.93zM1164.25 436.93L1207.55 461.93L1207.55 511.93L1164.25 536.93L1120.94 511.93L1120.94 461.93zM1250.85 -13.07L1294.15 11.93L1294.15 61.93L1250.85 86.93L1207.55 61.93L1207.55 11.93zM1337.46 286.93L1380.76 311.93L1380.76 361.93L1337.46 386.93L1294.15 361.93L1294.15 311.93zM1424.06 286.93L1467.36 311.93L1467.36 361.93L1424.06 386.93L1380.76 361.93L1380.76 311.93z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #08a0ff;
	background-color: #08a0ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: rgb(72,150,247);
	background: linear-gradient(135deg, rgba(72,150,247,1) 48%, rgba(0,0,0,1) 48%); 
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

